.main{
    &__catalog{
        margin: 80px 0;
        
        &__title{
            text-align: center;
        }
    }
}

.catalog-carousel{
    &__list{
        display: flex;
        flex-wrap: wrap;
        height: 800px;
    }
    &__item{
        width: calc(100% / 5);
        height: 265px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $c5;
        border-right: 1px solid $c5;
    }
    &__img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
    &__title{
        display: inline-block;
        width: 120px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        text-align: center;
        font-weight: 600;
    }
    &__price{
        align-self: flex-start;
        margin-bottom: 10px;
        color: $c19;
        font-weight: 600;
    }
}