@import "./main-products";

.main{
    grid-area: main;
    margin: 0 0 0 40px;
    &__wrap{
        padding: 91px 15px 0 15px;
        display: grid;
        grid-template-columns: 25% calc(100% / 4 * 3);
        grid-template-areas: "sidebar main";
    }
    &__banner{
        min-height: 500px;
        &__list{
            min-height: 500px;
        }
        &__slide{
            // height: 80vh;
            height: 500px;
            display: grid;
            place-items: center;
            // min-height: inherit;
            cursor: pointer;
            &__img{
                width: 100%;
                object-fit: cover;
                &__wrap{
                    width: 600px;
                }
            }
        }
    }
}

.promotion{
    &__title{
        text-align: center;
        margin: 40px 0;
    }
    &__list{
        width: 70%;
        margin: 0 auto;
        display: grid;
        gap: 40px;
        grid-template-columns: 50% 50%;
        grid-row: auto auto;
    }

    &__img{
        width: 400px;
        height: 300px;
        object-fit: cover;
        transition: transform .3s ease-in;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
        &__wrap{
            width: 400px;
            height: 300px;  
            overflow: hidden;
        }
    }

}