.sidebar-main{
    padding: 10px 0; 
    border-right: 1px solid $c5;
    min-height: inherit;
    width: 80%;
    height: 10vh;
    border: none;
    &__wrap{
        width: 100%;    
        grid-area: sidebar;
        min-height: 100vh;
        top: 200px;
        position: initial;
    }
    & > hr{
        margin: 0 auto;
    }

    &__list{
       padding: 16px 24px;
       min-height: 30vh;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
    }
    &__item{
        accent-color: $c17;
    }
    &__search{
        width: 90%;
        margin: 0 auto;
        position: relative;
        & input[type="search"]{
            width: 100%;
            border: none;
            outline: none;
            border: 1px solid $c5;
            border-radius: 8px;
            padding-left: 10px;
            height: 35px;
            &:focus{
                border: 1px solid $c9;
            }
        }
    }
}
