@import "./colors", "./parts/header", "./parts/sidebar-catalog",
        "./parts/footer";

.main{
    border-left: 1px solid $c5;
    margin: 0;
    grid-area: main;
    &__wrap{
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 120px 0 40px 0;
        display: grid;
        grid-template-columns: calc(100% / 4.7) calc(100% / 5 * 4);
        grid-template-rows: 60px 20px calc(100% - 40px);
        grid-template-areas: 
        "title title"
        ". ."
        "sidebar main";
    }
    &__title{
        grid-area: title;
        margin-top: 10px;
        border-bottom: 1px solid $c5;
        padding-bottom: 70px;
    }
    &__catalog{
        margin: 0;
        &__list{
            display: flex;
            flex-wrap: wrap;
            height: 800px;
        }
        &__item{
            width: calc(100% / 5);
            height: 265px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $c5;
            border-right: 1px solid $c5;
            &__img{
                width: 100%;
                object-fit: cover;
            }
            &__title{
                display: inline-block;
                width: 120px;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
                text-align: center;
                font-weight: 600;
            }
            &__price{
                align-self: flex-start;
                margin-bottom: 10px;
                color: $c19;
                font-weight: 600;
            }
        }
    }
}



.swiper-pagination-bullet{
    background-color: $c4;
}

.swiper-pagination-bullet-active{
    background: #007aff;
}